body
{
background-color: gray;
}
.add
{
    border: solid gray;
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 20px;
    padding: 2px;
    background: lightblue; 

}
.design
{
table
{

}
}